<!-- MapServer Template -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/transitional.dtd">
<html>
  <head>
    <title>[centro]</title>
  </head>

  <body>
    <strong>[centro]</strong><br>

      <!-- A table for minimal page formatting. -->
      <table border=0 cellpadding=5 width=90>
      <tr>
        <td><strong>DEPARTAMENTO</strong></td>
        <td>[departamento]</td>
      </tr>
      <tr>
        <td><strong>MUNICIPIO</strong></td>
        <td>[municipio]</td>
      </tr>
      <tr>
        <td><strong>FMLN</strong></td>
        <td>[item name="fmln" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>ARENA</strong></td>
        <td>[item name="arena" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>GANA</strong></td>
        <td>[item name="gana" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>PCN</strong></td>
        <td>[item name="pcn" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>PDC</strong></td>
        <td>[item name="pdc" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>CD</strong></td>
        <td>[item name="cd" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>PSD</strong></td>
        <td>[item name="psd" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>FPS</strong></td>
        <td>[item name="fps" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>PSP</strong></td>
        <td>[item name="psp" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>VOTO CRUZADO</strong></td>
        <td>[item name="voto_cruzado" format="$value votos"]</td>
      </tr>
      </table>
  </body>
</html>
