<!-- MapServer Template -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/transitional.dtd">
<html>
  <head>
    <title>[centro_e_1]</title>
  </head>

  <body>
    <strong>[centro_e_1]</strong><br>

      <!-- A table for minimal page formatting. -->
      <table border=0 cellpadding=5 width=90>
      <tr>
        <td><strong>FMLN</strong></td>
        <td>[item name="fmln_v1" precision="0" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>ARENA</strong></td>
        <td>[item name="arena_v1" precision="0" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>UNIDAD</strong></td>
        <td>[item name="unidad_v1" precision="0" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>FPS</strong></td>
        <td>[item name="fps_v1" precision="0" format="$value votos"]</td>
      </tr>
      <tr>
        <td><strong>PSP</strong></td>
        <td>[item name="psp_v1" precision="0" format="$value votos"]</td>
      </tr>
      </table>
  </body>
</html>
